.air-sea-export-1 {
    text-align: center; 
    color: #222534;
    font-size: 150%;
    font-weight: bold;    
    word-spacing: 4px;
    margin:0; 
    padding:15px 0;
}

.air-sea-export-2 {
    text-align: center; 
    background-color: #fff;
    color: #222534;
    font-size: 120%;
    font-weight: bold;    
    word-spacing: 4px;
    margin:0; 
    padding:5px 0;
}

.air-sea-export-3 {
    padding-left: 8px!important;
    color: #000;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-top: 27px;
    
}

.air-sea-export-4 {
    background-color: #fff;
    color: #222534;
    font-size: 135%;
    font-weight: bold;    
    word-spacing: 4px;
/*     margin-left: 40px; */
    margin-left: 20px;
    padding:5px 0;
}