.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}
.rectangle{
	//background-color: #428bca;
    color: blanchedalmond;
    font-weight: bold;
}
.col-xs-9 {
    width: 100%;
}
.canvasjs-chart-credit{
	display:none
}
.panel {
        background: none;
    }

    .col-lg-4 {
    width: 29.333333%;
    margin-right: 3%;
}
.link-color{
	color: blanchedalmond;
}