/*CSS BOILER PLATE*/

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #00709a;
    color: #fff;
    font-family: 'Arial',sans-serif;
    text-rendering: optimizeLegibility;
}


/*BODY*/



.errorMsg{
	/* display:none; */
	font-size:12px;
	color: red;
}

figure {
    margin-top: 50px;
    margin-left: 10%;
}

#header-text {
    margin-top: 50px;
    margin-left: 5%;
}

.header-top {  
    
    font-size: 8px; 
    margin-left: 155px; 
    padding-top: -10px;
}

.header-bottom {
    font-size: 8px;
    margin-left: 93px;
    margin-top: -50px;
    display:inline-block;
}

.shipment {
    background: -webkit-linear-gradient(#27c5fa, #189bc7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first-middle-section {
    padding-top: 50px;
}

.middle-section {
    width: 70%;
    margin-top: -5px;
}

 .form {
    width:90%; 
    height:30px; 
    padding-left:10px;
}

.middle-section-form {
    float:left;
    background-color: #004d6a; 
    width: 35%;
    height: 320px;
    border-radius: 7px;
    margin-top: 25px;
    padding-top: 15px;
    padding-left: 30px;
    box-shadow: 8px 10px 15px #404242;
}

.field-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 27px;
}

.field-container #customerCode {
    width:90%; 
    height:30px; 
    padding-left:10px;
}

.field-container #password {
    width:90%; 
    height:30px; 
    padding-left:10px;
}

.field-container select {
    width:90%; 
    height:30px; 
    padding-left:10px;
}

#login-button {
    font-size: 11px; 
    padding-top: -5px;
}

#login-button label {
    vertical-align: top; 
    padding-left: 3px;
}

#login {
    height: 30px;
    width:60px;
    margin-top: 25px;
    color :#fff;
    background-color: #00aeef;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

#forgot-password {  
    color:#fff;
    width: 180px; 
    float: right; 
    font-size: 15px; 
    margin-top: 30px; 
    margin-left: -20px;
    cursor: pointer;
}

.vertical-line {
    margin-left: 50%;
    margin-top: 30px;
    height: 320px;
    border-left: 1px solid #328cae;
}

.second-middle-section {
    float:right;
    margin-top: -320px;
}

 .list-items {
    list-style-type: none;
    margin-top: 10px;
    width: 85%;
    margin-left: 0px;
}

.list-items img {
    padding-right: 5px;
}

.list-items li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    font-family: serif;
    font-style: Italic;
    border-bottom: 1px solid #fff;
    margin-left: 0px;
}

.bottom-section {
    height: 60px;
    width:80%;
    background-color:#fff;
    border-radius: 5px;
    margin-top: 40px;
}

.bottom-section-form {
    color: #00709a;
    padding-top: 15px;
    padding-left: 40px;
}

.bottom-section-form input {
    width:75%; height:30px; padding-left:10px;
}

#track {
    width: 55px;
    height: 30px;
    float: right;
    background-color: #004d6a;
    padding-top: 7px;
    padding-left: 7px;
    margin-top: -30px;
    margin-right: 40px;
    cursor: pointer;
}
.track {
    width: 55px;
    height: 30px;
    float: right;
    font-size:12px;
    background-color: #004d6a;
    color:#ffffff;
    margin-top: -30px;
    margin-right: 40px;
    cursor: pointer;
}
select {
    color: gray;
    background-image: url("../images/down-arrow.png");
    background-repeat:no-repeat;
    background-position: 225px center;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

select::-ms-expand { /* for IE 11 */
    display: none;
}

/*MEDIA QUERIES*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
    figure img {
        width: 250px;
        height: auto;
        margin-top: -5px;
    }
    
 .middle-section-form {
    width: 40%;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 15px;
    padding-left: 25px;
    
}
  .second-middle-section > img {
        width: 250px;
        height: auto;
        margin-top: 20px;
        margin-left: 10px;
    }
    
 .vertical-line {
    margin-left: 55%;
    margin-top: 20px;
    height: 290px;
}
    
    .list-items {
    margin-left: 15px;
}
    
    .list-items li {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
}
    
  .forgot-password {  
    width: 160px; 
    float: right; 
    font-size: 15px; 
}
    
    .bottom-section {
    height: 50px;
    width:auto;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}
    
    .bottom-section-form {
    padding-top: 10px;
    padding-left: 30px;
}
    
    .bottom-section-form input {
        width: 65%;
    }
    
    .track {
    width: 50px;
}
}

