.progressbar {
	counter-reset: step;
	padding-top: 20px;
}
.progressbar li {
	list-style-type: none;
	float: left;
	width: 16.5%;
	position: relative;
	text-align: center;
}
.customUl{
	margin-top:25px !important ;
}
.progressbar li::before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #007AA7;
	display: block;
	margin: 0 auto 10px auto;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
	z-index: 2;
	position: relative;
}
.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #D3D3D3;
    top: 20px;
    left: -50%;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #007AA7;
    font-weight: bolder;
}
.progressbar li.active:before {
	border-color: #007AA7;
	border: 1px solid #007AA7;
	background-color:#007AA7;
	color: white;
}
.progressbar li.active+li:after {
	background-color: #007AA7;
}
.panel-heading-217226 {
    background-color: #007AA7;
    color: #FFF;
    margin-bottom: 0px;
    border-radius: 0px;
    /* padding: 10px 15px 0px; */
    border-color: #ddd;
    border-bottom: 0;
    text-align: center;
}

/********************/
/* ACCORDION */
a:hover, a:focus{
	outline: none;
	text-decoration: none;
}
#accordion .panel{
	border:0px none;
	box-shadow:none;
}
#accordion .panel-heading{
	padding:0;
	background: #fff;
}
#accordion .panel-title a{
	display: block;
	position: relative;
	background:transparent;
	/* color: #de4d4e; */
	color: #007AA7;
	font-size:14px;
	font-weight: bolder;
	text-transform:uppercase;
	margin-bottom:15px;
	padding:15px 50px;
	/* border-bottom:1px solid #de4d4e; */
	border-bottom:1px solid #007AA7;
	/* border-radius: 0 15px 0 15px; */
	transition:all 0.10s linear 0s;
}
#accordion .panel-title a.collapsed{
	/* color:#808080; */
	color: #6a6060;
	border-bottom:1px solid #d3d3d3;
	margin: 0;
}
#accordion .panel-title a i{
	/* color: #de4d4e; */
	color: #007AA7;
	position: absolute;
	top: 14px;
	left:25px;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
	content:"";
	position: absolute;
	bottom:-15px;
	left:36px;
	border:7px solid transparent;
	/* border-top:7px solid #de4d4e; */
	border-top:7px solid #007AA7;
}
#accordion .panel-title a.collapsed:before{
	content:"";
	border: 0px none;
}
#accordion .panel-title a.collapsed:hover{
	/* color: #6a6060; */
	color: #007AA7;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
	content: "\f106";
	font-family: FontAwesome;
	/* color: #de4d4e; */
	color: #007AA7;
	font-size: 20px;
	line-height: 20px;
	position: absolute;
	top: 14px;
	right:25px;
}
#accordion .panel-title a.collapsed:after{
	content: "\f107";
	/* color: #808080; */
	color: #6a6060;
}
#accordion .panel-body{
	border-top:0 none;
	/* color: #808080; */
	color: #6a6060;
}