div.flightPageContainer div.flightPageDataTableContainer {
    margin-top: 10px;
    border: 1px solid #C5CDD5;
    margin-right: 15px;
}

div.flightPageContainer h3.flightPageDataTableHeading {
    background: #E7E7E7;
    color: #002F5D;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

div.flightPageContainer div.flightPageDataTable {
    display: table;
    width: 100%;
}

div.flightPageContainer div.flightPageDataTable .flightPageDataTimesParent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px none #c5cdd5;
}

div.flightPageContainer div.flightPageDataTable .flightPageDataTimesParent .flightPageDataTimesChild {
    width: 50%;
    padding: 8px 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

div.flightPageContainer div.flightPageDataTable .flightPageDataActualTimeHeading {
    margin-top: 0px;
    font-size: 16px;
    line-height: 24px;
    color: #002F5D;
}

div.flightPageContainer div.flightPageDataTable .flightPageDataActualTimeText {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #002F5D;
}

div.flightPageContainer div.flightPageDataTable .flightPageDataAncillaryTextContainer {
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    border-top: 1px solid #c5cdd5;
}

div.flightPageContainer div.flightPageDataTable .flightPageDataAncillaryTextContainer .flightPageDataAncillaryText {
    margin-top: 8px;
}

div.flightPageContainer div.flightPageDataTable .flightPageDataAncillaryTextContainer .flightPageDataAncillaryText {
    margin-top: 8px;
}

#depAirpotName, #arrAirpotName {
    font-weight: 600;
}










/*----------TOP-----------*/

div.flightPageContainer div.flightPageSummaryAirports {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
}

div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryDestination, div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryOrigin {
    width: 49%;
}

div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryDestination span.flightPageSummaryAirportCode, div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryOrigin span.flightPageSummaryAirportCode {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    color: #002F5D;
    font-family: 'Source Sans Pro', sans-serif;
}

div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryDestination span.flightPageSummaryCity, div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryOrigin span.flightPageSummaryCity {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

div.flightPageContainer div.flightPageAirportGates {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0.5rem 0;
    width: 100%;
}

div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryDestination span.flightPageAirportGate, div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryOrigin span.flightPageAirportGate {
    display: block;
    font-size: 1.2rem;
    font-weight: 200;
}

div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryDestination span.flightPageSummaryAirportLink, div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryOrigin span.flightPageSummaryAirportLink {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
}

div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryDestination span.flightPageSummaryArrivalDay, div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryOrigin span.flightPageSummaryDepartureDay {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
}

 div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryDestination span.flightPageSummaryArrival, div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryOrigin span.flightPageSummaryDeparture {
     display: block;
     font-size: 1.4rem;
     font-weight: 500;
 }

div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryDestination span.flightPageSummaryAirportLink a, div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryOrigin span.flightPageSummaryAirportLink a {
    font-weight: bolder;
    color: #002F5D;
}

div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin {
    width: 50%;
}

div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryDepartureDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryArrivalDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryDepartureDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryArrivalDayAbbrv {
    display: none;
}
div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryDepartureDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryDepartureDay, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryDepartureDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryDepartureDay {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-right: 1rem;
}
div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryDepartureDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryDepartureDay, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryArrivalDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryArrivalDay, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryDepartureDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryDepartureDay, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryArrivalDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryArrivalDay {
    font-weight: normal;
    text-transform: uppercase;
}
div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryDeparture, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryDepartureDay, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryDepartureDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryArrival, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryArrivalDay, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination span.flightPageSummaryArrivalDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryDeparture, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryDepartureDay, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryDepartureDayAbbrv, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryArrival, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryArrivalDay, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin span.flightPageSummaryArrivalDayAbbrv {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    font-size: 1.2rem;
}

div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryDestination {
    text-align: right;
}

div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryDestination, div.flightPageContainer div.flightPageAirportGates div.flightPageSummaryOrigin {
    width: 50%;
}

div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryDestination {
    text-align: right;
}

div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryDestination, div.flightPageContainer div.flightPageSummaryAirports div.flightPageSummaryOrigin {
    width: 49%;
}

div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination {
    text-align: right;
}
div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryDestination, div.flightPageContainer div.flightPageSummaryTimes div.flightPageSummaryOrigin {
    width: 50%;
}

div.flightPageContainer div.flightPageSummaryTimes {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

div.flightPageContainer div.flightPageDataTable div.flightPageDataRowTall, div.flightPageContainer div.flightPageDataTable div.flightPageDataRow {
    display: table-row;
    height: 1.3rem;
    width: 100%;
}

div.flightPageContainer div.flightPageDataTable div.flightPageDataRow div.flightPageDataLabel {
    color: #002F5D;
    display: table-cell;
    padding-right: 1rem;
    text-align: left;
    vertical-align: top;
    width: 20%;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
}

div.flightPageContainer div.flightPageDataTable div.flightPageDataRow div.flightPageData {
    vertical-align: baseline;
}

div.flightPageContainer div.flightPageDataTable div.flightPageDataRow div.flightPageData {
    display: table-cell;
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
}