table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 15px;
}

th, td {
    border: none;
    text-align: center;
    padding: 5px;
}

#showtest input{
    width: 80px;
    height: 34px;
    padding-left: 2px;
}

#showtest input[type="button"] {
    color: #fff;
    background-color: #33cc33;
}



#customTable th {
    font-size: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}