@CHARSET "ISO-8859-1";
/* Timeline */

.timeline-591271 {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
}

/*order booked*/
.li-order-booked-003439 {
  transition: all 200ms ease-in;
 
}
.li-order-booked-003439.complete .status-662147 {
  border-top: 2px solid #00ADF1;
}
.li-order-booked-003439.complete .status-662147:before {
  background-color: #00ADF1;
  border: 1px solid  #00ADF1;
  transition: all 200ms ease-in;
  margin: 0 auto 10px auto;
  content: "\f00c";
  color: #fff;
  font-family: "FontAwesome";
}
.li-order-booked-003439.complete .timestamp-194858 h4 {
  color: #00ADF1;
}

/*gr done*/
.li-gr-done-137915 {
  transition: all 200ms ease-in;
}
.li-gr-done-137915.complete .status-662147 {
  border-top: 2px solid #00ADF1;
}
.li-gr-done-137915.complete .status-662147:before {
  background-color: #00ADF1;
  border: 1px solid  #00ADF1;
  transition: all 200ms ease-in;
  margin: 0 auto 10px auto;
  content: "\f00c";
  color: #fff;
  font-family: "FontAwesome";
}
.li-gr-done-137915.complete .timestamp-194858 h4 {
  color: #00ADF1;
}

/*stuffing done*/
.li-stuffing-done-870074 {
  transition: all 200ms ease-in;
}
.li-stuffing-done-870074.complete .status-662147 {
  border-top: 2px solid #00ADF1;
}
.li-stuffing-done-870074.complete .status-662147:before {
  background-color: #00ADF1;
  border: 1px solid  #00ADF1;
  transition: all 200ms ease-in;
  margin: 0 auto 10px auto;
  content: "\f00c";
  color: #fff;
  font-family: "FontAwesome";
}
.li-stuffing-done-870074.complete .timestamp-194858 h4 {
  color: #00ADF1;
}

/*shipment done*/
.li-shipment-done-631131 {
  transition: all 200ms ease-in;
}
.li-shipment-done-631131.complete .status-662147 {
  border-top: 2px solid #00ADF1;
}
.li-shipment-done-631131.complete .status-662147:before {
  background-color: #00ADF1;
  border: 1px solid  #00ADF1;
  transition: all 200ms ease-in;
  margin: 0 auto 10px auto;
  content: "\f00c";
  color: #fff;
  font-family: "FontAwesome";
}
.li-shipment-done-631131.complete .timestamp-194858 h4 {
  color: #00ADF1;
}

/*import*/
/*shipment in transit*/
.li-shipment-in-transit-263318 {
  transition: all 200ms ease-in;
}
.li-shipment-in-transit-263318.complete .status-662147 {
  border-top: 2px solid #00ADF1;
}
.li-shipment-in-transit-263318.complete .status-662147:before {
  background-color: #00ADF1;
  border: none;
  transition: all 200ms ease-in;
}
.li-shipment-in-transit-263318.complete .status-662147 h4 {
  color: #00ADF1;
}

/*shipment arrived*/
.li-shipment-arrived-588411 {
  transition: all 200ms ease-in;
}
.li-shipment-arrived-588411.complete .status-662147 {
  border-top: 2px solid #00ADF1;
}
.li-shipment-arrived-588411.complete .status-662147:before {
  background-color: #00ADF1;
  border: none;
  transition: all 200ms ease-in;
}
.li-shipment-arrived-588411.complete .status-662147 h4 {
  color: #00ADF1;
}

/*shipment released*/
.li-shipment-released-553226 {
  transition: all 200ms ease-in;
}
.li-shipment-released-553226.complete .status-662147 {
  border-top: 2px solid #00ADF1;
}
.li-shipment-released-553226.complete .status-662147:before {
  background-color: #00ADF1;
  border: none;
  transition: all 200ms ease-in;
}
.li-shipment-released-553226.complete .status-662147 h4 {
  color: #00ADF1;
}

.timestamp-194858 {
/*   margin-bottom: 15px; */
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
.image-68{
	height: 75px;
    width: 75px;
    margin-bottom: 15px;
}

.status-662147 {
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status-662147 h4 {
  /* font-weight: 600; */
  font-color:#b3b7b8;
  font-size: 15px;
}
.status-662147:before {
  content:"";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  text-align:center;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

@media only screen and (min-width: 310px) and (max-width: 650px) {
	.panel-body-422432 {
    	transform: scale(0.82);
    	display: none;
	}
}

@media only screen and (min-width: 651px) and (max-width: 991px) {
	.panel-body-422432 {
    	transform: scale(0.82);
    	display: none;
	}
}	

/* @media (min-device-width: 320px) and (max-device-width: 700px) { */
@media only screen and (min-width: 310px) and (max-width: 991px) {
  .timeline-591271 {
    list-style-type: none;
    display: block;
  }
  
  .timestamp-194858 {
/*     margin-bottom:5px; */
    padding: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
  }
  
  .status-662147 {
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
  }

 /*  .li-order-booked-003439 {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  .li-gr-done-137915 {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  .li-stuffing-done-870074 {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
    .li-shipment-done-631131 {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  
    .li-shipment-in-transit-263318 {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
    .li-shipment-arrived-588411 {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
    .li-shipment-released-553226 {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
 */

  .status-662147:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
  
  .milestone-track-section-254196 {
   /*  display: flex; */
    /* justify-content: center; */
    /* font-family: "Titillium Web", sans serif; */
    color: #758D96;
  }
  .timestamp-194858 {
    width: 100px;
  }
  .status-662147 {
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
  }
}

.milestone-track-section-254196 {  
  /* display: flex; */
  justify-content: center;
  /* font-family: "Titillium Web", sans serif; */
  color: #758D96;
}

/* button {
  position: absolute;
  width: 100px;
  min-width: 100px;
  padding: 20px;
  margin: 20px;
  font-family: "Titillium Web", sans serif;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
} */

#toggleButton {
  position: absolute;
  left: 50px;
  top: 20px;
  background-color: #75C7F6;
}


/********************/
/* ACCORDION */
a:hover, a:focus{
    outline: none;
    text-decoration: none;
}
#accordion .panel{
    border:0px none;
    box-shadow:none;
}
#accordion .panel-heading{
    padding:0;
    background: #fff;
}
#accordion .panel-title a{
    display: block;
    position: relative;
    background:transparent;
    /* color: #de4d4e; */
    color: #007AA7;
    font-size:14px;
    font-weight: bolder;
    text-transform:uppercase;
    margin-bottom:15px;
    padding:15px 50px;
    /* border-bottom:1px solid #de4d4e; */
    border-bottom:1px solid #007AA7;
    /* border-radius: 0 15px 0 15px; */
    transition:all 0.10s linear 0s;
}
#accordion .panel-title a.collapsed{
    /* color:#808080; */
    color: #6a6060;
    border-bottom:1px solid #d3d3d3;
    margin: 0;
}
#accordion .panel-title a i{
    /* color: #de4d4e; */
    color: #007AA7;
    position: absolute;
    top: 14px;
    left:25px;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content:"";
    position: absolute;
    bottom:-15px;
    left:36px;
    border:7px solid transparent;
    /* border-top:7px solid #de4d4e; */
    border-top:7px solid #007AA7;
}
#accordion .panel-title a.collapsed:before{
    content:"";
    border: 0px none;
}
#accordion .panel-title a.collapsed:hover{
    /* color: #6a6060; */
    color: #007AA7;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
    content: "\f106";
    font-family: FontAwesome;
    /* color: #de4d4e; */
    color: #007AA7;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 14px;
    right:25px;
}
#accordion .panel-title a.collapsed:after{
    content: "\f107";
    /* color: #808080; */
    color: #6a6060;
}
#accordion .panel-body{
    border-top:0 none;
    /* color: #808080; */
    color: #6a6060;
}

/* HAMID */
.panel-heading-217226 {
	background-color: #007AA7;
    color: #FFF;
    margin-bottom: 0px;
    border-radius: 0px;
/*  padding: 10px 15px 0px; */
    border-color: #ddd;
    border-bottom: 0;
    text-align: center;
}
.panel-footer-217226 {
	background-color: #007AA7;
    color: #FFF;
    margin-bottom: 0px;
    border-radius: 0px;
/*  padding: 10px 15px 0px; */
    border-color: #ddd;
    border-bottom: 0;
    text-align: center;
}

@media screen and (max-width: 1200px) {
	#footer {
	    position: relative !important;
	}
}

#footer {
	position: relative;
    bottom: 0;
    background: unset;
}

#img-comp-logo {
	/* width: auto;
	height: 70px;
    margin-left: -10px; */
    width: 60%;
    height: auto;
    margin-left: -15px;
    margin-top: 15px
}   

@media only screen and (min-width: 310px) and (max-width: 650px) {
	#img-comp-logo {
		/* width: auto;
		height: 70px;
	    margin-left: -10px; */
	    width: 60%;
	    height: auto;
	    margin-left: 0px;
	    margin-top: 10px;
	}
}

@media only screen and (min-width: 651px) and (max-width: 991px) {
	#img-comp-logo {
		/* width: auto;
		height: 70px;
	    margin-left: -10px; */
	    width: 60%;
	    height: auto;
	    margin-left: 0px;
	    margin-top: 10px;
	}
}

@media only screen and (min-width: 310px) and (max-width: 650px) {
	#track-ship-summary {
	    width: 92% !important;
	}
}

@media only screen and (min-width: 651px) and (max-width: 991px) {
	#track-ship-summary {
	    width: 92% !important;
	}
}

@media only screen and (min-width: 310px) and (max-width: 650px) {
	#track-ship-header {
	    width: 92% !important;
	}
}

@media only screen and (min-width: 651px) and (max-width: 991px) {
	#track-ship-header {
	    width: 92% !important;
	}
}

#company-name {
	float: right; 
	margin-top: 20px;
}

@media only screen and (min-width: 651px) and (max-width: 991px) {
	#company-name {
		float: left; 
		margin-top: 10px;
	}
}

@media only screen and (min-width: 310px) and (max-width: 650px) {
	#company-name {
		float: left; 
		margin-top: 10px;
	}
}