@CHARSET "ISO-8859-1";

.h1-report {
	font-family: inherit;
    font-size: 30px;
    padding-bottom: 10px;
}

.container-fluid-441222 {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.h4-report {
	font-family: inherit;
    font-size: 18px;
    padding-bottom: 0px;
    font-weight: bold;
}

.p-below-barcode {
	float: right;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;	
}