#footer {
	position: fixed;
	bottom: 0;
	background: unset;
}

.my-footer-panel {
	color: #fff;
}

.shipment-footer-panel {
	color: #26acf5;
	font-size: 17px;
}

.copy {
	text-align: center;
	margin-top: 2%;
}

.copy p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 20px 20px;
	background: #1e2223;
	margin: 0px;
}

.copy p a {
	color: #ff304d;
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.copy p a:hover {
	color: #26acf5 !important;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}