/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	/*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Bubbler One', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
	background: #eaeaea;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	/*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Bubbler One', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*--header--*/
.navbar-header h1 {
    text-align: center;
}
.navbar-header h1 img {
    margin-right: 0.3em;
}
.navbar-header h1 a {
    color: #FFF;
    text-decoration: none;
    font-size: 33px;
    display: block;
    /*background: #ff304d;*/
    background: #4e526f;
    padding: 34px 20px;
    font-weight: 600;
}
.navbar-header h1 a span {
    font-size: .3em;
    display: block;
    letter-spacing: 8px;
}
/*-- top-nav --*/
.glyphicon.glyphicon-phone {
    color: #000;
    font-size: 33px;
	display: inline;
}
.nav-contact-w3ls {
    display: inline-block;
    border-right: 2px solid #070707;
    padding-right: 10px;
    margin-right: 10px;
	    float: left;
}
.nav-contact-w3ls p {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
	    color: #070707;
}
.top-nav-text .call {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    /* float: left; */
    margin-top: 4px;
}
.top-nav-text a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 7px 30px;
    background: #01bcfa;
	margin-left:2em;
	text-decoration:none;
}
.top-nav-text {
    margin-top: 14px;
    float: right;
    width: 29%;
    margin-left: 3em;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  /*background:#ff304d;*/
  /*background: #26acf5;*/
  border-bottom: 2px solid #26acf5;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before, .hvr-underline-from-center:active:after, .hvr-underline-from-center:active {
  left: 0;
  right: 0; 
}

.navbar-nav .active:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  /*background:#ff304d;*/
  border-bottom: 2px solid #26acf5;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
    background: none;
}
.navbar-nav > li {
   margin: 0 0.5em;
}
.navbar-nav > li:nth-child(6){
	margin-right:0!important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #ff8c00;
}
.navbar-right {
    float: right!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
/*-- //top-nav --*/
/*-- animate popup --*/ 
/*-- login form --*/
.login-top.sign-top {
    background: #272525;
}
.agileits-login {
    padding:3em;
}
.agileits-login input[type="text"], .agileits-login input[type="password"], .agileits-login input[type="password"],.agileits-login input[type="email"], .agileits-login textarea {
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 10px;
	letter-spacing: 1px;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    -webkit-appearance: none;
    margin-bottom: 2em;
    background: rgba(146, 142, 142, 0.33);
}
.agileits-login textarea {
	resize:none;
	height:80px;
	margin-bottom:0!important;
}
.agileits-login input[type="text"]:focus, .agileits-login input[type="password"]:focus,.agileits-login input[type="password"]:focus,.agileits-login textarea:focus {
    border-bottom: 2px solid rgb(223, 31, 58);
}
.agileits-login ::-webkit-input-placeholder {
   color: #fff; 
} 
.agileits-login :-moz-placeholder { /* Firefox 18- */
   color: #fff;
} 
.agileits-login ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff; 
} 
.agileits-login :-ms-input-placeholder {  
   color: #fff; 
}
/*-- checkbox --*/
.agileits-login label {
    font-size: 1em;
    color: #fff;
	letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
input.checkbox {
    background: #ff304d;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: text-bottom;
}
input.checkbox:before {
	content: "";
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	background: inherit;
	cursor: pointer;
}
input.checkbox:after {
	content: ""; 
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 1.2em;
	height: 1.2em;
	border: 1px solid #fff; 
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out; 
	transition: .4s ease-in-out;
}
input.checkbox:checked:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: 1.2em;
	border-color: #fff;
	border-top-color: transparent;
	border-right-color: transparent;
}
.anim input.checkbox:checked:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .6em;
	border-color: transparent;
	border-right-color: transparent;
	animation: .4s rippling .4s ease;
	animation-fill-mode: forwards;
}
@keyframes rippling {
	50% {
		border-left-color: #fff;
	}
	100% {
		border-bottom-color: #fff;
		border-left-color: #fff;
	}
} 
/*-- //checkbox --*/ 
.wthree-text {
    margin-top: 0.5em;
}
.wthree-text ul li {
    display: inline-block;
    float: left;
}
.wthree-text ul li:nth-child(2) {
    float: right;
}
.wthree-text ul li a {
    font-size: 1em;
    color: #fff;
	letter-spacing: 0.5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.wthree-text ul li a:hover {
    text-decoration: underline;
}
.w3ls-submit {
    text-align: center;
    margin-top: 2.5em;
} 
.agileits-login input[type="submit"] {
    font-size: 1em;
    color: #fff;
    border:none;
    outline: none;
    padding: .8em 5em;
    -webkit-appearance: none;
	text-transform: uppercase;
    transition: .5s all;
    background: #dd1733;
    display: inline-block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.agileits-login input[type="submit"]:hover {
    background:#01bcfa;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
} 
.modal-header {
    border-bottom: none;
}
/*-- //animate popup --*/ 
/*--//header--*/

/*--banner-slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom:-35%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width:32px;
    height:32px;
	display:none;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
      left:51%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	    left: 46%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: -7%;
    left: -1.5%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
    width: 100%;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
       display: inline-block;
    margin: 0 7px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 13px;
    width: 13px;
    display: inline-block;
    background: #01bcfa;
    border: 2px solid #fff;
}
.callbacks_here a:after{
	/* background: #ff304d; */
	background: #fff;
}
/*----*/
.header {
    padding: 0 3em;
    /*background-color: rgba(37, 37, 37, 0.35);*/
    width: 100%;
}
.w3l_banner_info {
    text-align: left;
    margin: 0 auto;
    width: 85%;
}
.slider_banner_info h4 {
    font-size: 76px;
    margin-bottom: .4em;
    /* text-transform: uppercase; */
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    /* font-family: monospace; */
    font-family: Lato, sans-serif;
}
.slider_banner_info p {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    line-height: 26px;
}
.slider_banner_info {
    margin-top: 9em;
}
/*-- banner-form --*/
/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: white;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.banner-form-agileinfo {
	 padding: 0 5em;
    margin-top: 9em;
}
.banner-form-agileinfo input[type="text"], .banner-form-agileinfo input[type="password"], .banner-form-agileinfo textarea, .form-control {
    border: none;
    width: 100%;
    background: rgba(167, 230, 252, 0.18);
    padding: 10px 15px;
    margin-bottom: 12px;
    outline: none;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.form-control {
    border-radius: 0!important;
    height: 38px;
	padding-left:11px!important;
}
.form-control:focus{
	    border: none;
    box-shadow: none;
}
option {
    /*background: #221e1e;*/
    color: #252525;
    font-size: 16px;
}
.banner-form-agileinfo textarea{
	height:60px;
	border:none;
	resize:none;
}
.banner-form-agileinfo input[type="submit"] {
    width: 100%;
    margin-top: 0px;
    padding: 12px 0px;
    font-size: 12.5px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    /*background: #ff304d;*/
    background: #26acf5;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.banner-form-agileinfo input[type="submit"]:hover {
    background: #01bcfa;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.banner-form-agileinfo input[type="submit"]:focus {
    outline: none;
}
/*-- //banner-form --*/
/*-- //Slider --*/
.navbar {
  margin-bottom: 0;
}
.navbar-nav {
  float: right;
}
.navbar-default {
  background:none;
  border-color: #012231;
}
.navbar-default .navbar-brand {
	font-family: 'Days One', sans-serif;
	color:#fff !important;
	font-size:40px;
	text-decoration: none;
}
a.navbar-brand img {
    display: inline-block;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0;
    margin-top: 5px;
}
.navbar-default .navbar-brand:hover {
	color: #fff;
	text-decoration: none;
}
a.navbar-brand span {
  color: #2FD828;
  margin-left: 12px;
}
.navbar {
    position: relative;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform:uppercase;
    padding: 16px 23px;
    position: relative;
    font-weight: 400;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand {
    height: 0;
    padding: 0;
	}
.navbar{
    border-radius: 0px; 
	border:none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a.active {
    color: #ffffff;
}
.navbar {
    border-radius: 0px;
    border: none;
    padding: 0px 0;
}

/*-- //Banner-Slider --*/
.banner-w3layouts {
    position:relative;
	/*background:url('../images/bann5.jpg')no-repeat 0px 0px;*/
  background:url('../images/port-container-2.jpg')no-repeat 0px 0px;
	min-height: 750px;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	background-size:cover;



  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}

.layer-home {
    background-color: rgba(248, 247, 216, 0.7);
    
}

.banner-w3layouts:after {
  background-color: rgba(9, 24, 51, 0.73);
}

/*--//banner--*/
/*--modal--*/
.modal-content  img{
	width:100%;
	height:300px;
}
.modal-content h4 {
    color: #000000;
    text-align: center;
    font-size: 30px;
}
.modal-content h5 {
    color: #ffffff;
    text-align: center;
    font-size: 27px;
    margin-bottom: 1em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.modal-content p {
    color: #636363;
    font-size: 14px;
    line-height: 25px;
}
/*--//modal--*/
/*-- main --*/
.features,.capabilities,.gallery{
	padding:100px 0px;
}
h4.title-w3 ,h2.title-w3 {
    font-size: 35px;
    color: #101010;
    text-align: center;
    margin-bottom: 45px;
	text-transform:uppercase;
}
/*-- //main --*/
/*-- welcome --*/
.w3-welcome-left h5 {
    color: #ff304d;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    line-height: 40px;
}
.w3-welcome-left p {
    color: #888;
    line-height: 1.9em;
    margin: 1em 0 0 0;
    font-size: 16px;
	letter-spacing: .5px;
}
.w3-welcome-left p span{
	display:block;
	margin:1em 0 0 0;
}
.w3ls-welcome-img1 img{
	width:100%;
}
.w3-welcome-bottom{
	margin:3em 0 0 0;
}
/*-- //welcome --*/
/*-- Stats --*/
.stats-agileits {
    background: url(../images/counter.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 999;
    margin: 0;
}
.stats-grid {
    text-align: center;
    margin-bottom: 2em;
}
.numscroller {
    font-size: 40px;
    margin: 20px 0 5px;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.stats-grid h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-top: .5em;
    color: #7fd8f5;
    text-transform: capitalize;
    padding: 20px;
    line-height: 29px;
    letter-spacing: 1px;
    background: rgba(1, 188, 250, 0.18);
    border-bottom: 2px solid rgba(202, 31, 38, 0.59);
}
.stats-info {
    margin: 0 auto;
    padding: 2em 2em;
    /* border: 5px solid rgba(238, 238, 238, 0.51); */
    background: rgba(0, 0, 0, 0.78);
}
h4.agileits.w3layouts span {
    display: block;
    font-size: 25px;
    text-transform: uppercase!important;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #ff304d;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- //Stats --*/
/*-- capabilities --*/
.left {
	-webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}
.leftw3ls .hvr-rectangle-out:before{
	-webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}
.right {
	-webkit-clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
}
.rightw3ls .hvr-rectangle-out:before{
	-webkit-clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
}
.agileits_w3layouts_features_grids,.w3l_features_bottom_grids{
	margin:3em 0 0;
}
.agileits_w3layouts_features_gridr img{
	margin:0 auto;
}
.agile-why-text h4 {
    font-size: 1.5em;
    color: #ff304d;
    letter-spacing: 1px;
}
.agile-why-text p {
    margin: 1em 0 0;
    color: #777;
    line-height: 1.9em;
    font-size: 16px;
}
.siml-w3ls {
    padding-left: 0;
    text-align: right;
}
.simr-w3ls{
	padding-right: 0;
	 text-align: left;
}
.wthree_agile_us i {
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    /* border-radius: 50%; */
}
.wthree_agile_us  i{
	font-size: 1.5em;
	color:#fff;
	line-height:4em;
}
.wthree_agile_us{
	margin-top:3em;
}
.mid-img-agileits{
	background: url(../images/cab.jpg)no-repeat 0px 0px;
    min-height: 475px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
/*-- agileits --*/
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background:#01bcfa;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
   /*--     border-radius: 50%;
	  -webkit-border-radius: 50%;
	    -o-border-radius: 50%;
		  -moz-border-radius: 50%;
		    -ms-border-radius: 50%;--*/
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
     background: #ff304d;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  /*--    border-radius: 50%;
	  -webkit-border-radius: 50%;
	    -o-border-radius: 50%;
		  -moz-border-radius: 50%;
		    -ms-border-radius: 50%;--*/
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before,.agile_banner_bottom_grid:hover .hvr-rectangle-out:before{
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*-- //capabilities --*/
/*-- team --*/
h4.two {
    color: #fff;
}
.team-grid-text-agile {
    padding: 6em 5em 0em 5em;
		min-height: 630.2px;
    background: #000000;
}
.team-grid-text-agile p {
    line-height: 3em;
    color: #a9b1b4;
    margin-top: 3em;
    text-align: center;
    font-size: 16.4px;
}
.team-grid {
    text-align: center;
}
.team-grid img {
    width: 100%;
}
.team-img {
    position: relative;
}
.team-img:hover .overlay {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1,1);
    -moz-transform: rotateY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) scale(1,1);
    -o-transform: rotateY(0deg) scale(1,1);
    transform: rotateY(0deg) scale(1,1);
}
.team-img .overlay {
    padding: 5em 0.5em 0em;
    line-height: 24px;
}
.overlay {
        background: rgba(1, 188, 250, 0.52);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5,0.5);
    -moz-transform: rotateY(180deg) scale(0.5,0.5);
    -ms-transform: rotateY(180deg) scale(0.5,0.5);
    -o-transform: rotateY(180deg) scale(0.5,0.5);
    transform: rotateY(180deg) scale(0.5,0.5);
}
.team-grid h5 {
    font-size: 1.4em;
}
.team-grid p {
    font-size: 1em;
    line-height: 1.8em;
    color: #eee;
}
.team-grid h4 {
    font-size: 1.5em;
    color: #fff;
    margin: 1em 0 .2em;
    text-transform: capitalize;
}
h3.tittle3 {
    font-size: 3.5em;
    text-align: center;
    color: #fff;
}
.team-grid span {
    font-size: 1em;
    color: #efefef;
    margin: 0;
}
.w3l-social {
    margin: 1em 0 0 0;
}
.w3l-social ul{
	padding:0;
	margin:0;
}
.w3l-social ul li{
	display:inline-block;
}
.w3l-social ul li a {
	color: #333;
    text-align: center;
}
.w3l-social ul li a i.fa.fa-facebook, .w3l-social ul li a i.fa.fa-twitter, .w3l-social ul li a i.fa.fa-google-plus {
    height: 28px;
    width: 28px;
    margin: 0px 4px;
    background: rgba(200, 239, 252, 0.56);
    line-height: 30px;
    color: #000000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-size: 0.8em;
}
.w3l-social ul li a i.fa.fa-facebook:hover {
	background: #3b5998;
	color: #FFFFFF;
}
.w3l-social ul li a i.fa.fa-twitter:hover{
	background: #1da1f2;
	color: #FFFFFF;
}
.w3l-social ul li a i.fa.fa-google-plus:hover{
	background: #dd4b39;
	color: #FFFFFF;
}
.team-grid {
    text-align: center;
    padding: 0;
}
.agile-team-grids {
    padding: 0;
}
/*-- //team --*/
/*-- gallery --*/ 
/*-- jzBox-lightbox --*/
#jzBox {
	top: 0;
	left: 0;
	z-index: 10000;
	position: fixed;
	background-color: rgba(30, 30, 30, 0.9);
	margin: 0 !important;
	text-align: center;
	width: 100%;
	height: 100%;
	display: none;
	color: #fff;
}
#jzBoxTargetImg {
	margin:4% 0 1% 0;
	max-width: 96%;
	max-height: 73%;
	cursor: pointer;
}
#jzBoxTitle {
    font-size: 1.1em;
    font-weight: 300;
	margin-bottom: 1em;
}
#jzBoxCounter {
	margin-bottom: 1%;
	font-size: 12px;
}

#jzBox i:hover {
	cursor: pointer;
	color: #f35a5a;
} 
#jzBoxBottom { max-height: 22%; }

#jzBoxNextBig, #jzBoxPrevBig {
	cursor: pointer;
	top: 0;
	left: 0;
	width: 35%;
	position: fixed;
	z-index: 10001;
	height: 100%; 
} 
#jzBoxNextBig { left: 69%; }

i#jzBoxPrev, i#jzBoxNext {
    font-size: 2em;
    padding: 0.2em;
    border: 1px solid #fff;
	z-index: 99999;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
i#jzBoxClose {
    font-size: 3em;
    vertical-align: bottom;
    margin-left: 10em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
/*-- //jzBox-lightbox --*/
.gallery-grid {
    padding: 0; 
}
.wpf-demo-4{
    padding: 0;
    position: relative;
    overflow: hidden;
}

.view-caption {
    position: absolute;
    top: -30%;
    width: 100%;
    text-align: center;
    background: rgba(1, 188, 250, 0.86);
    border-bottom: 2px solid #ff304d;
    padding: 1em;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.wpf-demo-4:hover .view-caption {
	top: 0;
}
.view-caption p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 3px;
}
/*-- //gallery --*/
/*--Contact --*/
#contact {
  margin-top: 4%;
}
.contact-left h6 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.open-w3ls {
    margin-top: 15px;
}
.contact-left {
    padding: 2.3em 3em;
    background: #ff304d;
}
.contact-agile {
    position: absolute;
    left: 5.5em;
    bottom: 2em;
}
.contact-agile h4{
    text-align: left;
    font-size: 22px;
    margin-bottom: 13px;
    color: #00c4ff;
}
.contact-agile h4 {
    color: #00c4ff;
    font-size: 25px;
    margin-bottom: 10px;
}
.contact-left p {
    text-align: left;
    font-size: 13.5px;
    /* margin-bottom: 10px; */
    color: #8e0014;
    line-height: 25px;
    letter-spacing: 1px;
}
a.a1 {
    color: #8e0014;
    text-decoration: none;
	 transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
a.a1:hover {
    color: #fff;
	 transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
a.a2 {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
    padding: 10px;
    text-align: center;
    background: #f52240;
    border: 2px solid rgba(230, 12, 42, 0.83);
    margin-top: 6px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
a.a2:hover {
	background:rgba(230, 12, 42, 0.83);
	transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.contact-left span {
    color: rgba(255, 255, 255, 0.62);
    font-size: 13px;
    letter-spacing: .8px;
    display: inline-block;
    margin-bottom: 7px;
}
.contact-agile p.heading-btm-w3ls,.sevices-w3layouts p.heading-btm-w3ls{
    color: #e7e3e3;
}
.contact-middle p {
    color: #b1b1b1;
    margin-bottom: 4px;
    /* margin-left: 5px; */
    font-size: 15px;
}
/*--//Contact --*/


/*--Map --*/
.map-w3ls {
    position: relative;
    padding-bottom: 0px!important;
}
.map-w3ls iframe {
    width: 100%;
    height: 31em;
    border: none;
}
/*-- //Map--*/
/*--placeholder-color--*/

::-webkit-input-placeholder{
	color:#fff!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff!important; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff!important;  
}

:-ms-input-placeholder {  
   color: #fff!important;  
}
/*--//placeholder-color--*/
/*--copy-right--*/
.copy {
    text-align: center;
    margin-top: 2%;
}
.copy p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 20px 20px;
    background: #1e2223;
}
.copy p a {
    color: #ff304d;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color: #26acf5 !important;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//copy-right--*/
/*--//footer--*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1600px){
	.top-nav-text {
		width: 32%;
	}
	.team-grid-text-agile {
		min-height: 594.2px;
	}
	.team-grid-text-agile p {
		line-height: 2em;
		font-size: 16px;
	}
}
@media(max-width:1440px){
	.top-nav-text a {
		margin-left: 1em;
	}
	.top-nav-text {
		width: 33.1%;
	}
	.slider_banner_info h4 {
		font-size: 70px;
	}
	.banner-w3layouts {
		min-height: 645px;
	}
	.team-grid-text-agile p {
		margin-top: 2em;
	}
	.team-grid-text-agile {
		padding: 5.5em 5em 0em 5em;
	}
	.team-grid-text-agile {
		min-height: 540.2px;
	}
}
@media(max-width:1366px){
	.banner-form-agileinfo {
		margin-top: 7em;
	}
	.slider_banner_info {
		margin-top: 7em;
	}
	.wthree_agile_us {
		margin-top: 2.6em;
	}
	.team-grid-text-agile p {
		margin-top: 1.5em;
	}
	.team-grid-text-agile {
		min-height: 512.4px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 13px;
		padding: 16px 23px;
	}
	.team-grid h4 {
		font-size: 1.4em;
	}
	.team-img .overlay {
		padding: 4em 0.5em 0;
	}
}
@media(max-width:1280px){
	.top-nav-text a {
		font-size: 12.5px;
		margin-left: 6px;
		margin-top: 3px;
	}
	.banner-form-agileinfo {
		padding: 0 4em;
	}
	.numscroller {
		font-size: 35px;
	}
	h4.agileits.w3layouts span {
		font-size: 22px;
	}
	.stats-grid h4 {
		font-size: 18px;
	}
	.slider_banner_info h4 {
		font-size: 63px;
	}
	.team h4.two {
		margin-bottom: 22px!important;
	}
	.team-grid-text-agile {
		min-height: 480.5px;
	}
	.mid-img-agileits {
		min-height: 465px;
	}
}
@media(max-width:1080px){
	.top-nav-text {
		width: 39.7%;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 12.5px;
		padding: 16px 18px 14px;
	}
	.navbar-header h1 a {
		font-size: 29px;
		padding: 35px 23px;
	}
	.slider_banner_info h4 {
		font-size: 50px;
	}
	.slider_banner_info {
		margin-top: 6em;
	}
	.banner-form-agileinfo {
		padding: 0px 3em;
		margin-top: 5em;
	}
	.callbacks_tabs {
		left: -2.8%;
	}
	.banner-w3layouts {
		min-height: 590px;
	}
	h4.title-w3 ,h2.title-w3 {
		font-size: 32px;
		margin-bottom: 40px;
	}
	.w3-welcome-left h5 {
		font-size: 1.3em;
		letter-spacing: .8px;
		line-height: 35px;
	}
	.slider_banner_info p {
		font-size: 18px;
	}
	.w3-welcome-left p {
		font-size: 15px;
	}
	h4.agileits.w3layouts span {
		font-size: 20px;
	}
	.stats-grid h4 {
		font-size: 16px;
		letter-spacing: .5px;
	}
	.agile-why-text h4 {
		font-size: 1.2em;
	}
	.agile-why-text p {
		margin: 9px 0 0;
		font-size: 15px;
	}
	.agileits-w3layouts-grid {
		width: 100%;
	}
	.wthree_agile_us {
		margin-top: 0;
		width: 33.3%;
		float: left;
	}
	.wthree_agile_us i {
		line-height: 3.8em;
		width: 90px;
		height: 90px;
	}
	.wthree_features_grid.hvr-rectangle-out {
		margin-top: 10px;
	}
	.mid-img-agileits {
		margin: 4% auto;
		width: 30%;
		min-height: 280px;
	}
	.agileits-w3layouts-grid {
		float: none;
	}
	.team-grid-text-agile {
		padding: 3em 3em 0em;
	}
	.team-grid-text-agile p {
		margin-top: 1em;
		line-height: 2.2em;
		font-size: 14.5px;
	}
	.team-grid-text-agile {
		min-height: 405px;
	}
	.team-grid h4 {
		font-size: 1.3em;
	}
	.team-img .overlay {
		padding: 2em 0.5em 0;
	}
	.view-caption p {
		font-size: 1em;
	}
	.view-caption {
		padding: 11px 0;
	}
	.features, .capabilities, .gallery {
		padding: 70px 0px;
	}
	.contact-left h6 {
		font-size: 15px;
	}
	.map-w3ls iframe {
		height: 30em;
	}
}
@media(max-width:1050px){
	.top-nav-text {
		width: 41%;
	}
	.navbar-header h1 a {
		padding: 35.5px 23px;
	}
	.banner-form-agileinfo {
		padding: 0 1em;
	}
	.banner-form-agileinfo input[type="submit"] {
		padding: 10px 0px;
	}
	.banner-form-agileinfo input[type="text"], .banner-form-agileinfo input[type="password"], .banner-form-agileinfo textarea, .form-control {
		padding: 9px 15px;
	}
	.agileits-login input[type="submit"] {
		font-size: 13px;
	}
	.agileits-login input[type="text"], .agileits-login input[type="password"], .agileits-login input[type="password"], .agileits-login textarea {
		font-size: 14px;
		padding: 8px 10px;
	}
	.agileits-login label {
		font-size: .91em;
	}
	.wthree-text ul li a {
		font-size: .908em;
	}
	.slider_banner_info h4 {
		font-size: 45px;
	}
	.slider_banner_info {
		margin-top: 7em;
	}
	.banner-w3layouts {
		min-height: 540px;
	}
	.slider_banner_info p {
		font-size: 16px;
		letter-spacing: 3px;
	}
	.w3-welcome-left h5 {
		font-size: 1.2em;
	}
	.stats-grid {
		margin-bottom: 1em;
		width: 50%;
	}
	.stats-info {
		padding: 2em 13em;
	}
	.numscroller {
		margin: 5px 0 5px;
	}
}
@media(max-width:1024px){
	.top-nav-text a {
		font-size: 12.4px
	}
	.top-nav-text {
		width: 42.8%;
	}
	 .team-grid-text-agile {
		padding: 2em 1em 0em;
	}
	 .team-grid-text-agile {
		min-height: 378px;
	}
}
@media(max-width:991px){
	.top-nav-text {
		width: 44.5%;
	}
	.slider {
		float: left;
		width: 50%;
	}
	.navbar-header h1 a {
		padding: 35.5px 22px;
	}
	.slider_banner_info {
		margin-top: 5em;
	}
	.wthree_agile_us {
		margin-top: 0;
		width: 100%;
		float: left;
	}
	.agile-team-grids {
		margin: 0 auto;
		width: 83%;
	}
	.team-grid-text-agile {
		min-height: 297px;
		padding: 3em 4em 0em;
	}
	.w3-welcome-left:nth-child(1){
		margin-bottom:2em;
	}
	.stats-info {
		padding: 2em 10em;
	}
	h4.title-w3 ,h2.title-w3 {
		font-size: 27px;
		margin-bottom: 35px;
	}
	.features, .capabilities, .gallery {
		padding: 65px 0px;
	}
	.contact-agile {
		left: 23.5em;
	}
	.map-w3ls iframe {
		height: 24em;
	}
	.contact-left h6 {
		font-size: 14px;
	}
	.w3ls-welcome-img2 {
		margin-bottom: 2em;
	}
	.team-grid {
		float: left;
	}
	.banner-form-agileinfo {
		float: right;
	}
	.gallery-grid {
		float: left;
		width: 33.33%;
	}
	 .view-caption {
		top: -50%;
		padding:8px;
	}
	.view-caption p {
		font-size: 16px;
	}
	.team-img .overlay {
		padding: 5em 0.5em 0;
	}
	.agile-why-text h4 {
		margin-top: 24px;
	}
	.w3-welcome-bottom {
		margin: 2em 0 0 0;
	}
}
@media(max-width:900px){
	.banner-form-agileinfo {
		float: right;
		width: 50%;
		margin-top: 3.5em;
	}
	.slider_banner_info h4 {
		font-size: 41px;
	}
	.header {
		padding: 0 2em;
	}
	.top-nav-text {
		width: 46.5%;
	}
	.top-nav-text {
		width: 47.6%;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 16px 13px 14px;
	}
	.team-grid {
		width: 50%;
	}
	.banner-w3layouts {
		min-height: 500px;
	}
}
@media(max-width:800px){
	.top-nav-text a {
		padding: 6px 16px;
		margin-top: 4px;
	}
	.top-nav-text {
		width: 46.5%;
	}
	.navbar-header h1 a {
		padding: 35.5px 16px;
		font-size: 25px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 12px;
		padding: 15px 8.5px 10px;
	}
	.slider_banner_info p {
		font-size: 15px;
		letter-spacing: 2px;
	}
	.slider_banner_info h4 {
		font-size: 35px;
		line-height: 44px;
	}
	.callbacks_tabs a:after {
		height: 12px;
		width: 12px;
	}
	.callbacks_tabs li {
		margin: 0 5px;
	}
	.stats-info {
		padding: 2em 3em;
	}
	.numscroller {
		font-size: 31px;
	}
	.team-img .overlay {
		padding: 3em 0.5em 0;
	}
	.team-grid-text-agile {
		min-height: 310px;
	}
	.contact-left {
		padding: 2em 2.5em;
		background: #ff304d;
	}
	.contact-agile {
		left: 17.5em;
	}
	.map-w3ls iframe {
		height: 27.5em;
	}
}

@media(max-width:768px){
	.top-nav-text {
		width: 48.6%;
	}
	.navbar-nav > li {
		margin: 0 0.33em;
	}
	.w3l_banner_info {
		width: 90%;
	}
}
@media(max-width:767px){
	ul.nav.navbar-nav.navbar-right {
		margin: 0;
		float:none!important;
	}
	.navbar-default .navbar-nav > li > a { 
		text-align: center;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #000;
	}
	.navbar-default .navbar-toggle {
		border-color: rgba(0, 0, 0, 0.01);
		/* background: #01bcfa; */
		background: transparent;
		margin: 12px 0px 0px 0px;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
	.top-nav-text {
		width: 100%;
		margin-top: 11px;
		float: none;
		margin-left: 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		/* background-color: #01bcfa; */
		background-color: transparent;
		/* border-color: #fff; */
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
	.navbar-default .navbar-nav > li > a:before { 
		width: 0; 
	}
	.navbar-default .navbar-nav > li > a {
		padding: 1em 0;
		color: #fff;
	}
	.navbar-nav > li {
		margin: 0;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.88);
		margin: 0;
		position: absolute;
		width: 100%;
		z-index: 999;
		/* border: 1px solid #fff; */
		margin-top: 0.5em;
	}
	.navbar-default .navbar-nav > li > a:before {
		width: 0;
		display:none;
	}
	.navbar-header h1 a {
		padding: 11px 20px;
		float: left;
		font-size: 25px;
	}
	.modal-dialog {
		width: 85%;
		margin: 3em auto 0;
	}
	.banner-w3layouts {
		min-height: 485px;
	}
	h4.title-w3 ,h2.title-w3 {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.w3-welcome-left h5 {
		font-size: 1.1em;
	}
	.w3-welcome-left p {
		font-size: 14.5px;
	}
	.stats-grid {
		float: left;
	}
	.agile-why-text p {
		font-size: 14.5px;
	}
	.copy p {
		font-size: 13px;
	}
	.contact-left h6 {
		margin-bottom: 7px;
	}
	.contact-agile {
		left: 16.5em;
	}
	#toTop {
		right: 4%;
		width: 32px;
		height: 30px;
	}
	.wthree_agile_us {
		width: 88%;
		margin: 0 auto;
		float: none;
	}
	.navbar-default .navbar-nav > li:nth-child(1) a {
		padding-top: 1.3em;
	}
	.navbar-default .navbar-nav > li:nth-child(6) a {
		padding-bottom: 1.3em;
	}
}
@media(max-width:736px){
	.wthree_agile_us {
		width: 92%;
	}
	a.a2 {
		padding: 6px;
	}
	.map-w3ls iframe {
		height: 26em;
	}
	.gallery {
		padding: 55px 0px;
	}
	.banner-form-agileinfo {
		margin-top: 2em;
	}
	.slider_banner_info {
		margin-top: 4em;
	}
	.banner-w3layouts {
		min-height: 455px;
	}
	.modal-content h5 {
		font-size: 24px;
	}
}
@media(max-width:667px){
	h4.agileits.w3layouts span {
		font-size: 19px;
	}
	.stats-grid h4 {
		line-height: 24px;
	}
	.agile-why-text h4 {
		margin-top: 13px;
	}
	.agile-why-text h4 {
		font-size: 1.1em;
	}
	.team-img .overlay {
		padding: 2.5em 0.5em 0;
	}
	.team-grid-text-agile {
		min-height: 326px;
		padding: 2.5em 2.5em 0em;
	}
	.contact-agile {
		left: 13.5em;
	}
	.agileits-login textarea {
		height: 65px;
	}
	.agileits-login input[type="text"], .agileits-login input[type="password"], .agileits-login input[type="password"], .agileits-login textarea {
		margin-bottom: 1em;
	}
	.w3ls-submit {
		margin-top: 1.5em;
	}
	.slider_banner_info h4 {
		font-size: 30px;
		line-height: 38px;
	}
	.slider_banner_info p {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.mid-img-agileits {
		width: 40%;
	}
}
@media(max-width:640px){
	.slider_banner_info h4 {
		font-size: 29px;
		line-height: 36px;
	}
	.w3-welcome-left h5 {
		font-size: 1em;
	}
	.agile-team-grids {
		width: 100%;
	}
	.contact-left span {
		font-size: 12px;
	}
	.team-img .overlay {
		padding: 3em 0.5em 0;
	}
	#Choco_close {
		background-size: 15px;
	}
	#Choco_left_arrow {
		background-size: 20px;
	}
	#Choco_right_arrow {
		background-size: 20px;
	}
	.banner-w3layouts {
		min-height: 440px;
	}
}
@media(max-width:600px){

	.w3-welcome-left p {
		margin: .5em 0 0 0;
	}
	.w3ls-welcome-img2 {
		margin-bottom: 1em;
	}
	.w3-welcome-left:nth-child(1) {
		margin-bottom: 1em;
	}
	.features, .capabilities, .gallery {
		padding: 55px 0px;
	}
	.w3l_banner_info {
		width: 93%;
	}
	.slider_banner_info h4 {
		font-size: 28px;
	}
	.slider {
		padding-right: 0;
	}
	.banner-form-agileinfo input[type="text"], .banner-form-agileinfo input[type="password"], .banner-form-agileinfo textarea, .form-control {
		font-size: 13px;
	}
	.banner-w3layouts {
		min-height: 435px;
	}
	.banner-form-agileinfo input[type="submit"] {
		padding: 9px 0px;
		font-size: 12px;
	}
	.stats-grid {
		float: none;
		width: 100%;
	}
	.stats-info {
		padding: 2em 7em;
	}
	.mid-img-agileits {
		width: 45%;
	}
	h4.title-w3 ,h2.title-w3 {
		font-size: 22px;
	}
	.team-grid-text-agile {
		min-height: 345px;
		padding: 2.5em 2.5em 0em;
	}
	.contact-agile {
		bottom: 1em;
	}
	.navbar-default .navbar-nav > li > a {
		padding: .8em 0;
		color: #fff;
	}
}
@media(max-width:568px){
  .callbacks_container {
    display: none;
  }
	.slider {
		width: 100%;
		float: none;
	}
	.slider_banner_info {
		margin-top: 1em;
	}
	.slider_banner_info h4 {
		font-size: 25px;
		margin-bottom: 4px;
	}
	.banner-form-agileinfo {
		margin: 2em 0 0 3.5em;
		width: 79%;
		float:left
	}
	.banner-form-agileinfo input[type="text"], .banner-form-agileinfo input[type="password"], .banner-form-agileinfo textarea, .form-control {
		padding: 6px 15px;
	}
	.form-control {
		height: 31px;
	}
	.banner-w3layouts {
		min-height: 490px;
	}
	.slider_banner_info p {
		margin-bottom: 1.2em;
	}
	.gallery {
		padding: 45px 0px;
	}
	#toTop {
		bottom: 37px;
		right: 6%;
		width: 34px;
		height: 34px;
	}
	.w3-welcome-left h5 {
		line-height: 25px;
	}
	.contact-agile {
		left: 10.5em;
	}
}
@media(max-width:480px){
  .callbacks_container {
    display: none;
  }
	.nav-contact-w3ls p {
		font-size: 11px;
	}
	.top-nav-text .call {
		font-size: 12px;
	}
	.glyphicon.glyphicon-phone {
		font-size: 29px;
	}
	.header {
		padding: 0 1.4em;
	}
	.top-nav-text a {
		padding: 5px 16px;
		margin-top: 3px;
	}
	.slider_banner_info h4 {
		font-size: 21px;
		margin-bottom: 2px;
		line-height: 20px;
	}
	.slider_banner_info p {
		font-size: 13px;
	}
	.callbacks_tabs a:after {
		height: 11px;
		width: 11px;
	}
	.callbacks_tabs li {
		margin: 0 3px;
	}
	.w3l_banner_info {
		width: 95%;
	}
	.banner-form-agileinfo input[type="submit"] {
		padding: 7px 0px;
	}
	.banner-w3layouts {
		min-height: 460px;
	}
	.banner-form-agileinfo {
		margin: 2em 0 0 3em;
	}
	h4.title-w3 ,h2.title-w3 {
		margin-bottom: 25px;
	}
	.w3-welcome-left h5 {
		font-size: 15px;
		letter-spacing: .6px;
	}
	.stats-info {
		padding: 2em 5em;
	}
	.team-img .overlay {
		padding: 1.7em 0.5em 0;
	}
	.team-grid-text-agile p {
		margin-top: .5em;
		line-height: 2em;
	}
	.team-grid-text-agile {
		min-height: 360px;
		padding: 2.5em 2em 0em;
	}
	.gallery-grid {
		float: none;
		width: 100%;
	}
	.wpf-demo-4 img {
		width: 100%;
		margin-bottom: .7em;
	}
	.contact-agile {
		left: 7.6em;
	}
	.copy p {
		line-height: 29px;
		padding: 17px 20px;
		letter-spacing: 1.5px;
	}
}
@media(max-width:414px){
  .callbacks_container {
    display: none;
  }
	.navbar-header h1 a {
		font-size: 22px;
	}
	.navbar-default .navbar-toggle {
		margin: 11px 0px 0px 0px;
		padding: 8px 8px;
	}
	h4.title-w3 ,h2.title-w3 {
		margin-bottom: 20px;
		font-size: 20px;
	}
	.features, .capabilities, .gallery {
		padding: 40px 0px;
	}
	.banner-w3layouts {
		min-height: 455px;
	}
	.w3-welcome-left p span {
		margin: .7em 0 0 0;
	}
	.agileits-login {
		padding: 1.5em;
	}
	.agileits-login input[type="submit"] {
		font-size: 12px;
		padding: .6em 4.5em;
	}
	.agileits-login label {
		font-size: .8em;
	}
	.wthree-text ul li a {
		font-size: .8em;
	}
	.modal-content h5 {
		font-size: 20px;
	}
	.banner-form-agileinfo {
		margin: 2em 0 0 2.5em;
	}
	.stats-info {
		padding: 2em 3em;
	}
	.numscroller {
		font-size: 25px;
		margin: 5px 0 0px;
	}
	.stats-grid h4 {
		margin-top: .4em;
	}
	.agile-why-text h4 {
		font-size: 17px;
		letter-spacing: .5px;
	}
	.wthree_agile_us {
		width: 95%;
	}
	.mid-img-agileits {
		width: 60%;
	}
	.team-grid h4 {
		font-size: 1.1em;
	}
	.team-img .overlay {
		padding: .8em 0.5em 0;
	}
	.team-grid-text-agile {
		min-height: 417px;
	}
	.map-w3ls iframe {
		height: 23.5em;
	}
	.copy p {
		padding: 17px 27px;
	}
	#toTop {
		bottom: 16px;
	}
	.contact-agile {
		left: 6em;
	}
	.contact-left {
		padding: 1.7em 2em;
		background: #ff304d;
	}
	.agileits-login input[type="text"], .agileits-login input[type="password"], .agileits-login input[type="password"], .agileits-login textarea {
		margin-bottom: 0.8em;
		font-size: 13px;
		padding: 6px 10px;
	}
}
@media(max-width:384px){
	.callbacks_container {
    display: none;
  }
  .slider_banner_info h4 {
		font-size: 19px;
		line-height: 19px;
		letter-spacing: 1px;
	}
	.slider_banner_info {
		margin-top: .6em;
	}
	.banner-form-agileinfo {
		margin: 1.5em 0 0 1.8em;
		width: 85%;
	}
	.banner-w3layouts {
		min-height: 434px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: .6em 0;
	}
	.w3-welcome-left p {
		font-size: 14.4px;
		line-height: 1.85em;
	}
	.w3-welcome-bottom {
		margin: 1em 0 0 0;
	}
	.siml-w3ls {
		width: 100%;
		text-align: center;
		padding: 0px;
	}
	.simr-w3ls {
		padding-right: 0;
		text-align: center;
		padding: 0;
		width: 100%;
	}
	.wthree_agile_us i {
		line-height: 2.9em;
		width: 75px;
		height: 69px;
		font-size: 1.5em;
	}
	.wthree_agile_us {
		width: 95%;
		margin-bottom: 0.8em;
	}
	.agile-why-text p {
		margin: 5px 0 0;
	}
	.mid-img-agileits {
		width: 65%;
	}
	.team-grid {
		width: 100%;
		float: none;
		margin-bottom: 7px;
	}
	.team-img .overlay {
		padding: 4em 0.5em 0;
	}
	.contact-agile {
		left: 5em;
	}
	.team-grid h4 {
		font-size: 1.4em;
	}
	.agile-why-text p {
		font-size: 14.4px;
		line-height: 1.85em;
	}
	.team-grid-text-agile p {
		font-size: 14.4px;
		line-height: 1.85em;
	}
	.team-grid-text-agile {
		min-height: 391px;
	}
	.gallery {
		padding: 35px 0px;
	}
	#Choco_close {
		background-size: 13px;
	}
	#Choco_left_arrow {
		background-size: 18px;
	}
	#Choco_right_arrow {
		background-size: 18px;
	}
	
}
@media(max-width:375px){
	.callbacks_container {
    display: none;
  }
  .nav-contact-w3ls {
		margin-right: 7px;
	}
	.copy p {
		font-size: 12.5px;
	}
}
@media(max-width:320px){
	.callbacks_container {
    display: none;
  }
  .glyphicon.glyphicon-phone {
		font-size: 27px;
	}
	.nav-contact-w3ls {
		margin-right: 5px;
		padding-right: 6px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 10.5px;
	}
	.wthree-text ul li {
		display: block;
		float: none;
		text-align: center;
	}
	.wthree-text ul li:nth-child(2) {
		float: none;
		margin-top: 6px;
	}
	.top-nav-text a {
		padding: 5px 10px;
		font-size: 11px;
		margin-left: 0px;
	}
	.modal-body {
		padding: 8px;
	}
	.banner-form-agileinfo {
		margin: 1.5em 0 0 0em;
		width: 100%;
	}
	.banner-w3layouts {
		min-height: 425px;
	}
	.team-img .overlay {
		padding: 3em 0.5em 0;
	}
	.navbar-default .navbar-toggle {
		margin: 8px 0px 0px 0px;
	}
	.slider_banner_info h4 {
		font-size: 17px;
		line-height: 14px;
	}
	.navbar-header h1 a {
		font-size: 20px;
		padding: 11px 17px;
	}
	.stats-info {
		padding: 2em 1em;
	}
	.mid-img-agileits {
		width: 80%;
	}
	.team-grid-text-agile {
		min-height: 460px;
		padding: 2.3em 1.5em 0em;
	}
	.contact-agile {
		left: 3em;
	}
	#toTop {
		bottom: 8px;
		right: 3%;
	}
	.gallery {
		padding: 30px 0px;
	}
	.view-caption p {
		font-size: 15px;
		letter-spacing: 2px;
	}
	#Choco_close {
		background-size: 11px;
	}
	#Choco_right_arrow {
			background-size: 16px;
		}
	#Choco_left_arrow {
		background-size: 16px;
	}
}
/*--//responsive--*/

/*-----------------------------------
-------------------------------------
------------CUSTOM CSS---------------
-------------------------------------
-------------------------------------*/

.myshipment-header-logo {
  margin-top: 10px;
}

.login-track-panel {
  /*margin-top: 6%;*/
}

.nav-tabs-custom {
  background-color: rgba(37, 37, 37, 0.55);
  height:100%;
}
.nav-tabs-custom-login-track {
  border-bottom: unset !important;
    
}
.login-track-form {
  margin: 8%;
}


/*------------------------------
--------------------------------
---------xubi css---------------
--------------------------------
------------------------------*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: rgba(37, 37, 37, 0.64);
  /*border: 0px solid transparent;*/
  border: unset;
  border-bottom-color: transparent;
  color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: #eaeaea;
  cursor: default;
  background-color: rgba(37, 37, 37, 0.64);
  /*border: 0px solid #ddd;*/
  /*border: unset;*/
  border-bottom-color: transparent;
  color: white;

}

a {
    color: #eaeaea;
    text-decoration: none;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
     border: 2px solid transparent;
     border-bottom-color: #26acf5;

     /*border: unset;*/ 
}

.nav-tabs.nav-justified > li > a {
    border: 2px solid #ff304d; 
    border-radius: 0px 0px 0 0;
    border-color: transparent transparent transparent;
}


/*-------------WEB------------------*/
.affix {
  background-color: rgba(8, 21, 45, 0.92);
}

/*-----------------OUR SERVICES--------------------------*/
.space {
  padding: 20px 0;
}
.default-bg {
  background-color: #222222;
  color: #ffffff;
}
.default-bg.blue {
  background-color: #55acee;
}
.translucent-bg {
  color: #ffffff;
}
.default-bg h1,
.default-bg h2,
.default-bg h3,
.default-bg h4,
.default-bg h5,
.default-bg h6,
.translucent-bg h1,
.translucent-bg h2,
.translucent-bg h3,
.translucent-bg h4,
.translucent-bg h5,
.translucent-bg h6 {
  color: #ffffff;
}
.default-bg blockquote footer,
.translucent-bg blockquote footer {
  color: #cccccc;
}
.default-bg a,
.translucent-bg a {
  color: #ffffff;
  text-decoration: underline;
}
.default-bg a:hover,
.translucent-bg a:hover {
  text-decoration: none;
}
.translucent-bg {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
}
.translucent-bg .translucent-bg {
  margin-top: 80px;
  z-index: 3;
}
.translucent-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.translucent-bg.blue:after {
  /*background-color: rgba(85, 172, 238, 0.7);*/
  background-color: rgba(9, 24, 51, 0.73);
}
.translucent-bg .container {
  z-index: 3;
  position: relative;
}
.bg-image-1 {
  background: url("../images/parallax-banner-7.jpg") 50% 0px no-repeat;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
.bg-image-2 {
  background: url("../images/bg-image-2.jpg") 50% 0px no-repeat;
}

/*--------------------------------------*/
/* Collapse
---------------------------------- */

.panel-group .panel {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
}
.panel-default > .panel-heading {
  padding: 0;
  outline: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 100%;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: 1px solid #f0f0f0;
  border-top: none;
  background-color: #fafafa
}
.panel-heading a {
  font-weight: 400;
  padding: 12px 35px 12px 15px;
  display: inline-block;
  width: 100%;
  /*background-color: #55acee;*/
  background-color: #26acf5;
  /*background-color: #ff304d;*/
  color: #ffffff;
  /*position: relative;*/
  text-decoration: none;
}
.panel-heading a.collapsed {
  color: #ffffff;
  background-color: #333333;
}
.panel-heading a:after {
  font-family: "FontAwesome";
  content: "\f147";
  position: absolute;
  right: 15px;
  font-size: 14px;
  font-weight: 300;
  top: 50%;
  line-height: 1;
  margin-top: -7px;
}
.panel-heading a.collapsed:after {
  content: "\f196";
}
.panel-heading a:hover {
  text-decoration: none;
  background-color: #55acee;
  /*background-color: #ff304d;*/
  color: #ffffff;
}
.panel-title a i {
  padding-right: 10px;
  font-size: 20px;
}

.panel-body p {
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
}
.panel-body ul {
  padding-left: 4%;
  padding-right: 4%;
}


/*FAQ*/
.faq {
  padding-top: 100px;
  background-color: #eaeaea;
  z-index: 0;
}

.myshipmentLogin {
  color: #fff;
  margin-bottom: 5%;
  font-weight: 400;
}
.my-login-panel {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
.shipment-login-panel {
  color: #26acf5;
  font-weight: bold;
  font-size: 27px;
}

.my-footer-panel {
  color: #fff;
}
.shipment-footer-panel {
  color: #26acf5;
  font-size: 17px;
}

.text-center {
  text-align: center;
}

.faq-header {

}

.faq-sub-header {
  margin: 2%;
  font-size: 20px;
}


/*---------FOOTER--------------*/
.default-bg blockquote footer,
.translucent-bg blockquote footer {
  color: #cccccc;
}

.subfooter p {
  margin-bottom: 0;
}

.subfooter {
  background-color: #fafafa;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  padding: 40px 0;
}

/* Social Links
---------------------------------- */
.social-links {
  padding: 0;
  list-style: none;
  margin: 15px 0;
}
.social-links li {
  margin: 10px 25px 10px 0;
  display: inline-block;
  font-size: 36px;
}
.social-links li a {
  color: #333333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social-links li.twitter a:hover {
  color: #55acee;
}
.social-links li.skype a:hover {
  color: #00aff0;
}
.social-links li.linkedin a:hover {
  color: #0976b4;
}
.social-links li.googleplus a:hover {
  color: #dd4b39;
}
.social-links li.youtube a:hover {
  color: #b31217;
}
.social-links li.flickr a:hover {
  color: #ff0084;
}
.social-links li.facebook a:hover {
  color: #3b5998;
}
.social-links li.pinterest a:hover {
  color: #cb2027;
}
.social-links li.android a:hover {
  color: #A4C639;
}
.social-links li.apple a:hover {
  color: #999999;
}

.list-icons {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  font-size: 18px;
}
.list-icons li {
  padding: 0 0 15px 0;
}

.form-control-feedback {
  color: #cccccc;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 15px;
}
.footer-content textarea {
  resize: vertical;
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #252525;
}

.footer-content input {
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #252525;
  height: 45px;
}

.footer-content .form-control:focus {
    border: 1px solid rgba(12, 47, 56, 0.33);
    box-shadow: none;
}

.footer-content .btn {
  padding: 8px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  min-width: 160px;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-us-send {
  /*background-color: #ff304d !important;
  border: 1px solid #ff304d !important;
  color: #fff !important;
  border-radius: unset !important;*/
  height: unset !important;
  /*background-color: #fff !important;
  border: 1px solid #cccccc !important;*/
  background-color: #319ac8 !important;
  border: 1px solid #319ac8 !important;
  /*color: #01bcfa;*/
  color: #fff !important;
  width: 100%;
  padding: 8px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  min-width: 160px;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact-us-send:hover {
  background-color: #01bcfa !important;
  border: 1px solid #01bcfa !important;
  color: #fff !important;
  border-radius: unset !important;
}

.remember-me-login-panel {
  color: #fff;
}

.bottom-login-panel {
  margin-top: 2%;
}

.remember-me-login-panel a:hover {
  color: #ff304d;
}

/*--------HOME Background Image-----------*/
.translucent-home-bg {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: 50% 0;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}
.translucent-home-bg .translucent-bg {
  margin-top: 80px;
  z-index: 3;
}
.translucent-home-bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.translucent-home-bg.blue:after {
  /*background-color: rgba(85, 172, 238, 0.7);*/
  background-color: rgba(9, 24, 51, 0.73);
}
.translucent-home-bg .w3l_banner_info, h4 {
  z-index: 3;
  position: relative;
}
.translucent-home-bg .header {
  /*z-index: 3;*/
}

.why-fa h3 {
  line-height: 3;
}

.has-feedback ::-webkit-input-placeholder{
  color:#252525!important;
}

.has-feedback :-moz-placeholder { /* Firefox 18- */
   color: #252525!important; 
}

.has-feedback ::-moz-placeholder {  /* Firefox 19+ */
   color: #252525!important;  
}

.has-feedback :-ms-input-placeholder {  
   color: #252525!important;  
}

ul.navbar-nav>li.active>.home-inactive-top {
    border-bottom-color: transparent;
    /* color: red; */
}
ul.navbar-nav>li.before:after {
	/* color: green; */
}
.active .home-inactive-top {
    /* border-bottom: 2px solid transparent; */
    /* color: red; */
}
.connect-with-us-subheader {
	margin-top: 2%;
    font-size: 19px;
    font-weight: 500;
}
.get-in-touch-fill-up-form {
	margin-bottom: 2%;
	font-size: 19px;
    font-weight: 500;
}

@media (max-width: 568px) {
	.remember-me-forgot-password-text {
		font-size: 11px !important;
	}
	.nav-justified > li {
		width: 50%;
    	float: left !important;
	}
	.social-links {
		text-align: center;
	}
}

.affix ul {
	display: block !important;
}

.errorMsg {
	color: rgba(244, 67, 56, 1);
	font-size: 17px;
	padding: 5px 0 8px 0;
}