<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Email Template</title>
<meta name="description" content="HTML5 template">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" media="all"
	href="css/bootstrap.min.css" />
</head>
<body>
	<section>
		<div
			style="width: 60%; margin: 0 auto; height: auto; border: 3px solid #232535;">
			<img src="images/Email-Logo.png" style="width: 100%; height: auto;"
				th:src="|cid:${headerLogoName}|">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<!-- <img src="images/Email-Logo.png" style="width: 100%; height:auto;" th:src="|cid:${headerLogoName}|"> -->
						<div class="jumbotron"
							style="margin-top: 10px; background: #fbfcfe;">
							<p>Dear Sir/Madam,</p>
							<p>
								Attached below is the booking information for HBL/HAWB No. <span
									th:text="${hblNumber}">34324234</span>.<br> Please log
								into <a href="http://www.myshipment.com"
									style="text-decoration: none">myshipment</a> to check the
								status of your booking.<br> <br> Regards,<br>
								Myshipment Team.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th colspan="4" style="background: #fbfcfe;">ORDER DETAILS
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="font-weight: bold;">SO Number :</td>
									<td th:text="${soNumber}">0001659182</td>
									<td style="font-weight: bold;">HBL No :</td>
									<td th:text="${hblNumber}">GFL066639</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">HBL Date :</td>
									<td th:text="${#dates.format(hblDate)}">19-JUL-2016</td>
									<td style="font-weight: bold;">Buyer Name :</td>
									<td th:text="${buyerName}">SPORTS DIRECT. COM RETAIL
										LIMITED</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">Shipper Name :</td>
									<td th:text="${shipperName}">S M KNITWEARS LTD</td>
									<td style="font-weight: bold;">Comm. Inv. No :</td>
									<td th:text="${commInvNo}">SMKWL/25/16/EXP/1855/16</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">Comm. Inv. Date :</td>
									<td th:text="${#dates.format(commInvDt)}">19-JUL-2016</td>
									<td style="font-weight: bold;">Cargo Delivery Date :</td>
									<td th:text="${#dates.format(cargoDeliveryDate)}">02-AUG-2016
									</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">LC NO :</td>
									<td th:text="${lcNumber}">DPCOCB917548</td>
									<td style="font-weight: bold;">LC Date :</td>
									<td th:text="${#dates.format(lcDate)}">11-MAY-2016</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">Total Qnt :</td>
									<td th:text="${totalQty}">420.000</td>
									<td style="font-weight: bold;">Booking Date :</td>
									<td th:text="${#dates.format(bookingDate)}">19-JUL-2016</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">POL :</td>
									<td th:text="${pol}">CHITTAGONG</td>
									<td style="font-weight: bold;">POD :</td>
									<td th:text="${pod}">FELIXSTOWE</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th colspan="6" style="background: #fbfcfe;">LINE ITEMS</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="font-weight: bold;">SI</td>
									<td style="font-weight: bold;">PO Number</td>
									<td style="font-weight: bold;">Total Pcs</td>
									<td style="font-weight: bold;">Total Qty</td>
									<td style="font-weight: bold;">Volume(CBM)</td>
									<td style="font-weight: bold;">Gross Weight(KG)</td>
								</tr>

								<tr th:each="item,itrStat : ${lineItem}">
									<td th:text="${itrStat.index+1}">1</td>
									<td th:text="${item.poNumber}">C00878/13</td>
									<td th:text="${item.totalPcs}">17034.000</td>
									<td th:text="${item.quantity}">420.000</td>
									<td th:text="${item.volume}">32.77</td>
									<td th:text="${item.grossWeight}">7294.660</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="lead text-muted" style="font-size: 10px;">
							This e-mail was sent from auto-notification system, please do not
							reply to this message. For further information, log into <a
								href="http://www.myshipment.com" style="text-decoration: none">myshipment</a>
							or contact your respective CRM.
						</p>
					</div>
				</div>
			</div>
			<!-- footer -->
			<div style="text-align: center;">
				<p>&copy; Myshipment.com - All Rights Reserved</p>
			</div>
		</div>
	</section>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>